@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* @font-face {
  font-family: X-LocaleSpecific;
  font-weight: 300;
  src: local(FZLTXHB--B51-0), local(DroidSansFallbackFull); }
@font-face {
  font-family: X-LocaleSpecific;
  font-weight: 400;
  src: local(FZLTXHB--B51-0), local(DroidSansFallbackFull); }
@font-face {
  font-family: X-LocaleSpecific;
  font-weight: 700;
  src: local(FZLTZHB--B51-0), local(DroidSansFallbackFull); } */

* {
  font-family: 'Poppins', 'Quicksand', sans-serif;
}

html, body {
  margin:0px; 
  padding: 0px;
  background-color: #212529;
}

a {
  cursor: pointer;
}

.navbar-brand {
  font-weight: 600;
}

.block-container {
  display: flex;
  align-items: center;
}

.gallery_block {
  overflow: hidden;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-decoration: none;
}

.block_image {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center center;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition-timing-function: ease-in-out;
}

.gallery_block:hover .block_image, .gallery_block:focus .block_image {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.introduction {
  font-weight: 600;
  position: absolute;
  width: 80%;
  height: auto;
  top: 50%;
  right: 10%;
  z-index: 100;
  color: aliceblue;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.hovtxt {
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hovtxt:hover, .hovtxt:focus {
  opacity: 0.8;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
